{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 90,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [".prettierrc", "package.json", ".eslintrc.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "parser": "json"
      }
    }
  ]
}
